<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <port>11000</port>
  <timeout_msec>5000</timeout_msec>
  <refresh>60000</refresh>
  <clarity_log><![CDATA[C:\[junk]\TaskServer-log.txt]]></clarity_log>
  <accelerator_check>true</accelerator_check>
  <accelerators>
    <accelerator>CALCLARITY01</accelerator>
    <accelerator>EDMCLARITY01</accelerator>
    <accelerator>TORCLARITY01</accelerator>
    <accelerator>VANCLARITY01</accelerator>
  </accelerators>
  <accelerator_wsdl>
    <revit_server version="2016">LocalService2016/LocalService.svc</revit_server>
    <revit_server version="2017">LocalService2017/LocalService.svc</revit_server>
    <revit_server version="2018">LocalService2018/LocalService.svc</revit_server>
    <revit_server version="2019">LocalService2019/LocalService.svc</revit_server>
  </accelerator_wsdl>  
</configuration>